extends layout

block layout-content
  div.View
    h1.Banner NodeJS App
    div.Message
      div.Title
        h3 Test project for node.js
        h1 Really nice site
      span.Details Access some sort of portal login here
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!